# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/.env

backend/routers/__pycache__/
# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# Docker
*.log

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Keys
*.pem